body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:0.8em;
  margin-left:50px;
  width:680px;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* Streetview Plus */
.svp-streetview {
  height:350px;
}

#svp-submit {
  display: none;
}

/* Fitzgerald */
#dot-container {
  position: relative;
/*  background: #ccc url(stickies.png) right top no-repeat scroll;*/
}

.dot-title {
  font-size:2em;
  position:absolute;
  top:8px;
  left:35px;
  z-index: 9999;
  padding: 0 0.25em;
  line-height: 1.25;
  background: #fff;
  background: rgba(255,255,255,0.85);
}

#dot-add-feedback {
  font-size: 1.25em;
  background: #EAEAEA;
  border: 0;
  font-weight: bold;
  padding: 0.5em 0;
  width: 204px;
  position: absolute;
  top: 8px;
  right: 0.875em;
  z-index: 999;
  cursor: pointer;
     -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
     -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
          box-shadow: 0 0px 10px rgba(0,0,0,0.5);
}

#dot-sv {
  width: 680px;
  height: 350px;
  border:0;
  float: left;
}

/* Feedback */
.dot-feedback-container {
  overflow: auto;
  width: 220px;
  height: 350px;
  float: right;
  margin-left: -220px;
}

.dot-feedback {
  padding: 4em 0 0;
}

.dot-feedback li {
  position: relative;
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 1.5em;
  padding: 0.5em;
  min-height: 1.2em;
  margin: 0.6em 0.6em 0.6em 0;
  cursor: pointer;
     -moz-box-shadow: -5px 0px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,0.25);
          box-shadow: -5px 0px 5px rgba(0,0,0,0.25);
}

.dot-feedback li.yellow {
  background-color: #fef200;
}

.dot-feedback li.blue {
  background-color: #91c7f2;
  font-family: 'Loved by the King', cursive;
}

.dot-feedback li.magenta {
  background-color: #ff99d6;
  font-family: 'Shadows Into Light', cursive;
}

.dot-feedback li a {
  text-decoration: none;
  color:#444;
}

/* Feedback Activity Graph */
.dot-feedback-activity {
  position:absolute;
  z-index:1;
  top:-20px;
}


/* Slider */
.dot-slider {
  background: transparent url("mapslider.png") no-repeat left center !important;
  border:none;
  height:140px;
  width:680px;
     -moz-border-radius: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.dot-slider .ui-slider-handle {
  background: transparent url("mapslider-handle.png") no-repeat center center !important;
  width: 49px;
  height:49px;
  margin-left:-18px;
  margin-top:57px;
  border: none;
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
  outline: 0;
}

.dot-slider .ui-slider-handle.grabbed {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}

.dot-slider-container {
  clear: both;
/*  padding: 21px 0 0 0;*/
border-top: 21px solid #fff;
  position: relative;
}

#dot-survey-desc {
  display: block;
  padding:0.2em;
  margin:1em 0;
  width:360px;
  height:90px;
  resize: none;
}

/* Tooltip */
.dot-tooltip {
  display: none;
  position: absolute;
  z-index:999;
  padding: 5px;
  background-color:#4b99da;
  color:#fff;
  width:7em;
  text-align:center;
  margin-left:-3.5em;

  -moz-box-shadow:    0px 0px 10px #e0dcd5;
  -webkit-box-shadow: 0px 0px 10px #e0dcd5;
  box-shadow:         0px 0px 10px #e0dcd5;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.dot-tooltip strong {
  font-weight: bold;
}

.dot-tooltip:before {
  content:"\0020";
  position: absolute;
  left:50%;
  top:-6px;
  margin-left:-5px;
  height:10px;
  width:10px;
  z-index:999;
  background-color:#4b99da;
  display: block;

  border-left:1px solid #fff;
  border-top:1px solid #fff;

  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
}

